<!DOCTYPE html>
<html>
<head>
	<title>Charla | The ChatApp</title>
</head>
<body>
	<h1>Sign Up</h1>
	<h3>{{ message }}</h3>
	<div>
		<form method="post" action="/signup">
			<label>Username:</label>
			<input type="text" name="username" placeholder="Enter the username"><br>
			<label>Email:</label>
			<input type="text" name="email" placeholder="Enter the email"><br>
			<label>Password:</label>
			<input type="password" name="password" placeholder="Enter the password"><br>
			<label>Confirm Password:</label>
			<input type="password" name="cpassword" placeholder="Re-enter the password"><br>
			<button type="submit">Sign Up</button>
		</form>
	</div>
</body>
</html>